<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"/>	 -->
		   <meta http-equiv="X-UA-Compatible" content="IE=9;IE=EDGE">
		   

		<!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<script src="https://a1115040996.github.io/MyHTML/js/echarts2_only_map.js"></script>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
		<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=WDQ0Vhi98Vzhgt3oAWvTIQIIA2HBqcIE"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>

		<link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
		<title>用户分析</title>
	</head>
	<body>
		<div class="header">
			<div class="header-left">
				<img src=<%= require("../img/yiqilogo.png")%>>
					<span class="span02">	</span>
				<span class="span01">统一报告平台</span>
			
				<span class="span03">集成系统 > 用户分析</span>
			</div>
			<div class="header-right clearfix">
				<span class="span04">数据时间跨度：2019-10-22</span>
				<span class="span05">数据更新时间：2019-10-28</span>
			</div>
		</div>
		<div class="index-content">
		<div class="tabs">
			<ul>
				<li class="catalogue"><img src=<%= require('../img/catalogue.png')%>>目录</li>
				<li class="loca"><a href="/index.html"><img src=<%= require('../img/location-grey.png')%>>位置分析</a></li>
				<li><a class="selected"><img src=<%= require('../img/user-red.png')%>>用户分析</a></li>
				<li><img src=<%= require('../img/threefour.png')%>>现场仿真</li>
				<li><img src=<%= require('../img/four.png')%>>车辆查询</li>
			</ul>
		</div>
		<div class="tabs-content">
			<div id="tabs-1" class="content-top">
				<div class="dropdown">
					<button type="button" class="btn dropdown-toggle manycars" 
							data-toggle="dropdown">
						多车
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation" class="selected02">多车</li>
						<li role="presentation" class="divider"></li>
						<li id="onecarli" role="presentation" class="selected12">单车</li>
					</ul>
				</div>		
				<div class="dropdown">
					<button type="button" class="btn dropdown-toggle"  id="onecar"
							data-toggle="dropdown">
						单车
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li id="manycarsli"  role="presentation" class="selected12" >多车</li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="selected02">单车</li>
					</ul>
				</div>			
				<button type="button" class="btn dropdown-toggle H5"  
					data-toggle="dropdown">
					H5
					<!-- <span class="caret"></span> -->
				</button>
				<div class="dropdown btnright">					
					<input type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
							data-toggle="dropdown" value="VIN">
						<span class="caret"></span>
					</input>
					<ul class="dropdown-menu getVIN" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation">LFB1E6678KJB02343</li>
						<li role="presentation" class="divider"></li>
						<li role="presentation">LFB1E6679KJB02366</li>
						<li role="presentation" class="divider"></li>
						<li role="presentation">LFB1E6076KJB02432</li>
					</ul>
                </div>
            </div>
			<div class="content-container">
				<div class="row">
					<div class="col-md-3">							
						<div id="chart05C" class="urow-1">
							<div class="echarts-title">出行时间分布</div>
							<div id="chart05" class="chart"></div>
						</div>
						<div id="chart06C" class="urow-4">
							<div class="echarts-title">加速度值分布</div>
							<div id="chart06" class="chart"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div id="chart07C" class="urow-2">
							<div class="echarts-title">行驶路型统计</div>
							<div id="detail" class="detailC detailC07">
								<div id="detail-content" class="detail-content07">
									<div id="close" class="close-btn"><img src=<%= require('../img/close.png')%>></div>
									<div id="detail07"></div>
								</div>	
							</div>
							<div id="chart07" class="chart"></div>
						</div>
						<div id="chart08C" class="urow-5">
							<div class="echarts-title">超速情况</div>

							<div id="detail" class="detailC detailC08">
								<div id="detail-content" class="detail-content08">
									<div id="close" class="close-btn"><img src=<%= require('../img/close.png')%>></div>
									<div id="detail08"></div>
								</div>	
							</div>
							
							<div id="chart08" class="chart"></div>
						</div>					
					</div>   
					<div class="col-md-3">
						<div id="chart09C" class="urow-3">
							<div class="echarts-title">驾驶行为</div>
							<div id="chart09" class="chart"></div>
						</div>
						<div id="chart10C" class="urow-6">
							<div class="echarts-title">百公里灯光使用习惯</div>
							<div id="chart10" class="chart"></div>
						</div>					
					</div> 
					<div class="col-md-3 user-right">
							<div class="urow-7">
								<div class="index-row5-title">车辆基本信息</div>
								<div class="index-row5-ul">
									<ul>
										<li id="VINLi"></li>
										<li id="cartype">车型：H5</li>
										<li>牌照号</li>
										<li>行驶总里程</li>
										<!-- <li>当前车速</li>
										<li>当前位置</li> -->
									</ul>
								</div>
							</div>		
						<!-- <div class="row-4">
							<div class="row-5">
								<div class="index-row5-title">类别标签 (聚类结果）</div>
								<div class="index-row5-ul">
									<ul>
										<li>充电行为1</li>
										<li>充电行为2</li>
										<li>充电行为3</li>
										<li>充电行为4</li>
										<li>充电行为5</li>
									</ul>
								</div>
							</div>			
						</div> -->
					</div>
				</div>		
			</div>
		</div>
	</div>	
	</body>
</html>
