.urow-1,.urow-2,.urow-3,.urow-4,.urow-5,.urow-6 {
    height: 48%;
    background:rgba(255,255,255,1);
box-shadow:1px 0px 26px 0px rgba(229,239,238,1);
}
.urow-4,.urow-5,.urow-6 {
    margin-top: 6%;
}
.urow-7 {
    margin-left: 4px;
    width: 96%;
    height: 99%;
    background:rgba(255,255,255,1);
    box-shadow:1px 0px 26px 0px rgba(229,239,238,1);
}
.btnlast {
    margin-left: 10%;
}
.content-top {
    width: 74.4%;
}
.btnright {
    margin-left: 26px;
}    
@media all and (max-width: 992px){
    .content-top {
        width: 100%;
    }
    .user-right {
        height: 48% !important;
        margin-top: 0;
    }
    .urow-4,.urow-5,.urow-6 {
        margin-top: 2%;
    }
    .urow-7 {
        margin-left: -4px;
        width: 100%;
    }
}
// #detail05 {
//    position: absolute;
//     left:30%;
//     right:0;
// }
